@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');

:root {
    --color-burgundy: #7e2b2e;
    --color-burgundy-hover: #A05255;
    --color-white: #ffffff;
    --font-karla: 17px 'Karla', sans-serif;
    --font-karla-bold: bold 17px 'Karla', sans-serif;
    --font-montserrat: 14px 'Montserrat', sans-serif;
    --font-rubik-24: bold 24px 'Rubik', sans-serif;
    --font-rubik-28: bold 28px 'Rubik', sans-serif;
    --font-rubik-36: bold 36px 'Rubik', sans-serif;
    --font-rubik-39: bold 39px 'Rubik', sans-serif;
    --font-rubik-50: bold 50px 'Rubik', sans-serif;

}

a{
    text-decoration: none;
}

/*------------------------------------------------------header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0 20px;
    margin: 0 auto;
}

#SGLogo {
    /* box-sizing: inherit; */
}

#headerMenu a {
    /* text-decoration: none; */
    font: var(--font-karla);
    padding: 0 17px;
}



.burgundyButton {
    /* margin-left: 5em ; */
    background: var(--color-burgundy);
    font: var(--font-montserrat);
    padding: 15px 30px;
    font-size: 106%;
    /* margin: 0; */
}
.burgundyButton:hover {
    /* margin-left: 5em ; */
    background: var(--color-burgundy-hover);
}

#consultation {
    margin-left: 10px;
}



 /*-----------------------------------------------------header */    


/*------------------------------------------------------body*/
body {
    background-image: url('/images/background.jpeg');
    background-position: center;
    background-size: cover;
    font: var(--font-karla);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* ------------------------------------content */
.content{
    background: var(--color-white);
}

/* ---------------------headContainer */
.headContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#firstParagraph {
    font: var(--font-rubik-28);
}
#secondParagraph {
    font: var(--font-rubik-50);
}
#thirdParagraph {
    font: var(--font-karla);
}

#buttonsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tranparentButton {
    font: var(--font-montserrat);
    /* opacity: 0; */
    background-color: #02010100;
    padding: 16px 40px;

}
.whiteButton {
    font: var(--font-montserrat);
    color: var(--color-burgundy);
    padding: 16px 40px;
}

/* -------------------------headContainer */

/* -------------------------catalog */
.catalog{
    width: 100%;
}

.setsHead {
    font: var(--font-rubik-39);
    text-align: center;
    margin-top: 100px;
}

.sets{
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    gap: 2em;
    grid-template-rows: auto 25%;
}

.set {

}

.set a{
    font: var(--font-rubik-28);
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    /* box-sizing: border-box; */
}

#set1 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}
#set2 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}
#set3 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}






/* -------------------------catalog */

/* ----------------------------fidgital */
.fidgital {

}

#fidgitalTitle{
    color: black;
    font: var(--font-rubik-39)
}




/* ----------------------------fidgital */



/* ------------------------------------content */

/* ------------------------------------------------------body */
              

/* -----------------------------------------------------footer*/




/* ----------------------------------------------------footer*/