@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');

:root {
    --color-burgundy: #7e2b2e;
    --color-burgundy-hover: #A05255;
    --color-white: #ffffff;
    --color-purple: #584d66;
    --font-karla: 17px 'Karla', sans-serif;
    --font-karla-bold: bold 17px 'Karla', sans-serif;
    --font-montserrat: 12px 'Montserrat', sans-serif;
    --font-rubik-24: bold 24px 'Rubik', sans-serif;
    --font-rubik-28: bold 28px 'Rubik', sans-serif;
    --font-rubik-36: bold 36px 'Rubik', sans-serif;
    --font-rubik-39: bold 39px 'Rubik', sans-serif;
    --font-rubik-50: bold 50px 'Rubik', sans-serif;

}

a{
    text-decoration: none;
    color: var(--color-white);
}

button{
    transition: all 1s ease;
    color: var(--color-white);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}
/*------------------------------------------------------header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 17px 0;
    margin: 0 auto;
}

#SGLogo {
    /* box-sizing: inherit; */
}

.headerMenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
}

.headerMenu a {
    /* text-decoration: none; */
    font: var(--font-karla);
    padding: 0 10px;
    height: 100%;
}



.burgundyButton {
    /* margin-left: 5em ; */
    background: var(--color-burgundy);
    color: var(--color-white);
    font: var(--font-montserrat);
    padding: 15px 30px;
    /* font-size: 106%; */
    /* margin: 0; */
}
.burgundyButton:hover {
    /* margin-left: 5em ; */
    background: var(--color-burgundy-hover);
}

#consultation {
    margin-left: 10px;
}



 /*-----------------------------------------------------header */    


/*------------------------------------------------------body*/
body {
    background-image: url('/images/background.jpeg');
    background-position: center;
    background-size: cover;
    font: var(--font-karla);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    
}

/* ---------------------headContainer */
.headContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.headContainer p{
    margin: 0 0 20px 0;
}

#firstParagraph {
    font: var(--font-rubik-28);
}
#secondParagraph {
    font: var(--font-rubik-50);
    /* font-size: 3rem; */
}
#thirdParagraph {
    font: var(--font-karla);
}

.headButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tranparentButton {
    font: var(--font-montserrat);
    /* opacity: 0; */
    background-color: #02010100;
    padding: 16px 40px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
}
.tranparentButton:hover {
    background: var(--color-burgundy);
    border: 2px solid var(--color-burgundy);
}

.whiteButton {
    font: var(--font-montserrat);
    color: var(--color-burgundy);
    padding: 16px 40px;
    border: 2px solid var(--color-white);
}
.whiteButton:hover {
    background: var(--color-burgundy);
    border: 2px solid var(--color-burgundy);
    color: var(--color-white);
}

/* -------------------------headContainer */



/* ------------------------------------content */
.content{
    background: var(--color-white);
    width: 100%;
    padding: 0 5em;

}



/* -------------------------catalog */
.catalog{
    width: 100%;
}

.setsHead {
    font: var(--font-rubik-39);
    text-align: center;
    margin-top: 100px;
}

.sets{
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    gap: 1em 2em;
    grid-template-rows: auto 25%;
    box-sizing: border-box;
    margin: 50px 4em;
    justify-content: center;
    
}

.set {
    text-align: center;

}

.set a{
    font: var(--font-rubik-28);
    color: var(--color-white);
    /* width: 100%;
    height: 100%; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    /* box-sizing: border-box; */
}

#set1 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}
#set2 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}
#set3 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}






/* -------------------------catalog */

/* ----------------------------fidgital */
.fidgital {
    padding: 0 5em;
}

#fidgitalTitle{
    color: black;
    font: var(--font-rubik-39)
}

.fidgital p{
    text-align: justify;
    padding: 0 5em;
    color: var(--color-purple);
    line-height: 1.5;
}

.zona {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

#zona1{
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}
#zona2 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}
#zona3 {
    background-image: url(http://placehold.it/340x328/33bee5&text=smartlanding);
}

.fidgitalButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

/* --------------------------fidgital */

/* ---------------------------advantages */
.advantages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    padding: 10px;
}  

.advantages *{
    padding: 10px;
}

#advantage{
    display: flex;
    justify-content: center;
    align-items: center;

    /* box-sizing: border-box; */

}

#check{
    width: 11.777%;
    height: auto;
}







/* --------------------------advantages */


/* ----------------------------------------content */

/* ------------------------------------consultation */
.consultation{
    display: flex;
    color: var(--color-white);
    flex-direction: column;
}

.consultation h2{
    font: var(--font-rubik-36);
    color: var(--color-white);
}




/* ------------------------------------consultation */


/* ----------------------------------------content */

/* ----------------------------------------content */


/* ------------------------------------------------------body */
              

/* -----------------------------------------------------footer*/




/* ----------------------------------------------------footer*/